#about_landing{
 height: 100vh;

}
.landing_page{
	height:100%;
    background:url("https://wallpaperplay.com/walls/full/3/6/9/254092.jpg") center/cover no-repeat fixed;
	 color:#fff;
}

.ceo_thought{
  padding:8% 0;
  background:url("https://wallpaperplay.com/walls/full/f/3/1/254064.jpg") center/cover no-repeat fixed;
  position: relative;
}
.ceo_thought .owl-theme .owl-controls .owl-page span{
  background: orange;
}
.ceo_thought:before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background:rgba(0,0,0,0.5);
}
.mobile_expert_bg{
  margin-top: 50px;
 background-color: #f8f8f8;
}
.owl-carousel p{
  line-height: 200%;
}

.mobile_expert_bg .owl-theme .owl-controls .owl-page span{
  background-color: #51c2b9;
  margin: 5px;
}
