
#about_landing{
 height: 100vh;

}
.landing_page{
	height:100%;
    background:url("https://wallpaperaccess.com/full/83156.jpg") center/cover no-repeat fixed;
	 color:#fff;
}

 .service .service_slider1 img{
  width:100%;
  height:50vh;
 }
 .service .owl-theme .owl-controls .owl-page span{
	display: none;
}
.service_separator{
	position: relative;
	background: orange;
	width:20%;
	height:3px;
	transition: all 0.8s;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	-o-transition:all 0.8s;
	-ms-transition:all 0.8s;
	margin-bottom: 20px;
}

.ceo_thought{
	padding:8% 0;
	background:url("https://wallpaperplay.com/walls/full/f/3/1/254064.jpg") center/cover no-repeat fixed;
	position: relative;
}
.ceo_thought .owl-theme .owl-controls .owl-page span{
	background: orange;
}
.ceo_thought:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	background:rgba(0,0,0,0.5);
}
